# https://github.com/marketplace/actions/merge-schedule

name: Merge Schedule

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
  schedule:
    # https://crontab.guru/every-hour
    - cron: "0 12 * * *"

permissions:
  checks: read
  contents: read
  deployments: read
  pull-requests: write

jobs:
  merge_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: gr2m/merge-schedule-action@v2
        with:
          merge_method: squash # Merge method to use. Possible values are merge, squash or rebase. Default is merge.
          time_zone: "America/Montreal" # Time zone to use. Default is UTC.
          require_statuses_success: "true" # Require all pull request statuses to be successful before merging. Default is `false`.
          # automerge_fail_label: "merge-schedule-failed" # Label to apply to the pull request if the merge fails. Default is `automerge-fail`.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
